@model Yummy_2.Models.ChefSocial
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_AdminUILayout.cshtml";
}
<style>
    .titre {
        width: 100%;
        height: 60px;
        background: rgb(242, 242, 242);
        border-radius: 5px;
        display: flex;
        align-items: center;
        box-shadow: 4px 4px 8px rgba(128, 128, 128,0.8);
    }
</style>
<div class="container px-5">
    <div class="py-3 my-4 titre">
        <h2 class="mx-3 fs-4"> Social Media Güncelleme</h2>
    </div>
    <div class="text-danger">@Html.ValidationSummary()</div>
    <form method="post">
        <label class="form-label my-1">Chef</label>
        @Html.DropDownListFor(c => c.ChefId, (List<SelectListItem>)ViewBag.Chefs, new { @class = "form-control" })
        <label class="form-label my-2">Sosyal Medya Adı</label>
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })

        <label class="form-label my-2">İkon</label>
        @Html.TextBoxFor(c => c.Icon, new { @class = "form-control" })

        <label class="form-label my-2">Sosyal Medya Linki</label>
        @Html.TextBoxFor(c => c.Url, new { @class = "form-control" })
        <br />

        <button class="btn btn-success"> <i class="fas fa-plus"></i>Güncelle</button>
        <br />

    </form>
</div>


